/* Icons provided by Roberto Huertas and their VSCode icon pack visit https://icon-icons.com/pack/vscode/2107  */ 
/* GitHub icon provided by Julien Monty and their Devicon icon pack visit https://icon-icons.com/pack/Devicon/2 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*============================     Top Level      ============================ */
li{
    list-style-type: none;
}

/*============================     Nav Bar      ============================ */
.navBar__container{
    display:flex;
    background-color:#5693FA;
    
    
}
.navBar{
    position: fixed;
    top: 0;
    width: 100%;
}

.navItem{
    float:left;
    margin: 15px;
}

a{
    color: black;
    text-decoration: none; /* no underline */
}

a:hover{
   font-size: larger;
   border-bottom: black solid 1px;
}


/*============================      About Me Section      ============================ */
.aboutMe__Container{
    margin-top: 6.5em;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.aboutMe__Container--background{
    display:flex;
    justify-content: center;
    height: 28%;
    width: 65%;
    background-color: #70A5FF;
    border-radius: 7px;
    transform: translate(0 , 300px) rotate(5deg);
    z-index: -1;
    position: absolute;
    
}
.aboutMe__Container--background2{
    height: 50%;
    width: 55%;
    background-color: #2A5AAD;
    border-radius: 7px;
    transform: translate(55px , 180px) rotate(-1deg);
    z-index: -2;
    position: absolute; 
   
     
}

.aboutMe__detail{
    height: 350px;
    width: 50%;
    background-color: white;
    margin: 1em;
    border-radius: 7px;
    box-shadow:5px 4px 22px 6px rgba(0,0,0,0.48)
    ;
}
.aboutMe__picture--img{
    height: 250px;
    width: 250;
    border-radius: 50%;
    border: 5px solid #70A5FF;
    
}


/*============================      Skills      ============================ */

.skills{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-top: 7em;
    height: 400px;
}

.skills__title{
    margin-top: 5em;
}

.skillList{
    display:flex;
    align-content: space-evenly;
    
}

.icon{
    height: 50px;
    width: 50px;
    margin-top: 10px
}

.skill{
 
   
    margin: 20px;

    
}

/*============================     Projects     ============================ */



/*============================      Contact     ============================ */

.contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-top: 7em;
}

.contact__links{
    display:flex;
    align-content: space-evenly; 
}

.contact__link{
    width: 75px;
    height: 65px;
    background-color: #5693FA;
    margin:20px;
    text-align: center;
    border-radius: 7px;
}
